build/mysqltuner-*
build/mysqltuner.spec
build/build.log
build/cve*
output/**
build/vulnerabilities*
*.bak
Vagrant/Vagrantfile
Vagrant/data
Vagrant/.vagrant
contents
contents/*
reports_*
golang/prog-*
.vscode
test_db/**
result*
result_*
sql/*.sql
sql/*.csv
cve.csv
default*.cnf
.env
.gemini/settings.json
Dumps/*.csv
raw_mysqltuner_*.txt
mysqltuner_*.json
*.code-workspace
examples/** */  
examples
vendor/
vendor/**
output.log
node_modules
final_unit_tests.txt
.gitignore
.gitignore
full_out.txt
commit_lint.txt
.gitignore
out.txt
unit_tests.txt
smoke_test.txt
.gitignore
tmp
v_test.txt
tmp_changelog
mysqltuner.pl.bak
0
0/**
experimental_run.log
experimental_run_v2.log
