build/mysqltuner-*
build/mysqltuner.spec
build/build.log
build/cve*
build/vulnerabilities*
*.bak
Vagrant/Vagrantfile
Vagrant/data
Vagrant/.vagrant
contents
contents/*
reports_*
golang/prog-*
.vscode
test_db/**
result*
result_*
sql/*.sql
sql/*.csv
cve.csv
default*.cnf
.env